<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: purple; padding: 1rem;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
          <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
          {% if request.user.is_staff %}
          <li class="nav-item">
              <a class="nav-link" href="{% url 'addQuestion' %}">Add Question</a>
          </li>
          {% endif %}
          {% if not request.user.is_authenticated %}
          <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
          {% endif %}
      </ul>
  </div>
  <div class="navbar-collapse collapse d-flex justify-content-end">
      <ul class="navbar-nav">
          {% if request.user.is_authenticated %}
          <li class="nav-item">
              <span class="navbar-text">Hello, {{ request.user.username }}</span>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
          {% endif %}
      </ul>
  </div>
</nav>
