{% extends 'Quiz/dependencies.html' %}
{% load static %}
{% block content %}
<div class="container full-height">
    <div class="register-card">
        <h1 class="mb-4 text-center">Register</h1>

        <!-- Display form errors or success messages if any -->
        {% if messages %}
            <div class="alert alert-dismissible fade show" role="alert">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <form method="POST" action="{% url 'register' %}" class="register-form">
            {% csrf_token %}
            
            <!-- Render form fields -->
            <div class="form-group">
                {{ form.username.label_tag }}
                {{ form.username }}
                {{ form.username.errors }}  <!-- Display errors for this field -->
            </div>
            
            <div class="form-group">
                {{ form.password1.label_tag }}
                {{ form.password1 }}
                {{ form.password1.errors }}  <!-- Display errors for this field -->
            </div>
            
            <div class="form-group">
                {{ form.password2.label_tag }}
                {{ form.password2 }}
                {{ form.password2.errors }}  <!-- Display errors for this field -->
            </div>
            
            <button class="btn btn-success btn-block" type="submit">Register Account</button>

            <div class="text-center">
                <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
                <br><br>
            </div>
        </form>
    </div>
</div>
{% endblock %}
